@import url('https://fonts.googleapis.com/css2?family=Moo+Lah+Lah&display=swap');

* {
    margin: 0;
    padding: 0;
}

/*Cabeçalho*/

#cabecalho {
    width: 100vw;
    height: 10vh;
    align-items: center;
    justify-content: center;
    display: flex;
    border-bottom: gray solid 5px;
}

#cabecalho #logo{
    display: none;
}

#cabecalho h1 {
    font-family: 'Moo Lah Lah', cursive;
    text-align: center;
}

/*Corpo*/
#corpo {
    width: 100vw;
}

#corpo img {
    width: 100%;
    display: inline-block;
}

#corpo ul {
    background-color: gray;
    display: flex;
    justify-content: space-around;
    border: 5px solid gray;
}

#corpo ul li {
    
    display: inline-block;
    text-decoration: none;
    padding: 3px 15px;
    border: 3px solid black;
    border-radius: 0px 45px 0px 45px;
}

#corpo h1 {
    margin-top: 5px;
    text-align: center;
}

/*Rodapé*/
footer {
    background-color: gray;
}