* {
    margin: 0;
    padding: 0;
}

/*Cabeçalho*/

#cabecalho {
    background-color: aqua;
    width: 100%;
    height: 20vh;
    align-items: center;
}
#cabecalho img {
    display: none;
}
#cabecalho h1 {
    text-align: center;
}

/*Corpo*/

